
body,html
{
background-color: #8AA399;
height: 100%;
margin: 0 auto;
}
.content
{
width: 80%;
min-height: 85%; 
background: #7D84B2;
float: right;
}
h1
{
text-align: center;
color: #DBF4A7;
font-family: Arial;
}
.menuz
{
background-color: #D5F9DE;
width: 20%;
height: 100%;
float: left;
}
.menu
{
background-color: #8FA6CB;
width: 100%;
height: 10%;
}
.galeria
{
height: 100%;
width: 26.66%;
background-color: #59C3C3;
text-align: center;
float: right;
font-size: 30px;
font-style: italic;
}

.logo
{
height: 100%;
width: 20%;
background-color: #59C3C3;
text-align: center;
float: left;
font-size: 30px;
font-style: italic;
text-shadow: violet 2px 5px;
font-size: 50px;

}


.galeria1
{
color: black;
text-decoration: none;
}
.zrodla
{
height: 100%;
width: 26.66%;
background-color: #59C3C3;
text-align: center;
float: right;
font-size: 30px;
font-style: italic;
}
.zrodla1
{
color: black;
text-decoration: none;
}
.ankieta
{
height: 100%;
width: 26.66%;
background-color: #59C3C3;
text-align: center;
float: right;
font-size: 30px;
font-style: italic;
}
.ankieta1
{
color: black;
text-decoration: none;
}
.wieloryb
{
width: 100%;
background-color: #52489C;
height: 14.28%;
text-align: center;
font-size: 30px;
font-style: italic;
}
.wieloryb1
{
color: black;
text-decoration: none;
}
.rekin
{
width: 100%;
background-color: #52489C;
height: 14.28%;
text-align: center;
font-size: 30px;
font-style: italic;
}
.rekin1
{
color: black;
text-decoration: none;
}
.krokodyl
{
width: 100%;
background-color: #52489C;
height: 14.28%;
text-align: center;
font-size: 30px;
font-style: italic;
}
.krokodyl1
{
color: black;
text-decoration: none;
}
.pyton
{
width: 100%;
background-color: #52489C;
height: 14.28%;
text-align: center;
font-size: 30px;
font-style: italic;
}
.pyton1
{
color: black;
text-decoration: none;
}
.sala
{
width: 100%;
background-color: #52489C;
height: 14.28%;
text-align: center;
font-size: 30px;
font-style: italic;
}
.salamandra1
{
color: black;
text-decoration: none;
}
.slon
{
width: 100%;
background-color: #52489C;
height: 14.28%;
text-align: center;
font-size: 30px;
font-style: italic;
}
.slon1
{
color: black;
text-decoration: none;
}
.strus
{
width: 100%;
background-color: #52489C;
height: 14.28%;
text-align: center;
font-size: 30px;
font-style: italic;
}
.strus1
{
color: black;
text-decoration: none;
}
.okno
{
height: 92vh;
width: 100%;
border: 0;
}
.stopka
{
width: 100%;
background-color: teal;
height: 5vh;
text-align: center;
font-size: 30px;
font-style: italic;
clear: both;
}
p
{
text-align: justify;
}
@media screen and (max-width: 600px){
.menu{
display: none;
}
}
